@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap');

*{
    padding:0px;
    margin:0px;
    font-family:'Bona Nova',serif;

}
body{
    /* background-color: #fcde67; */
    background-color: whitesmoke;
}
/* .image-stlyling{
    height: auto;
    width: 50%;
} */

.food-health-nutrion-text{
    color: #030e12;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 1px;
    margin-top: 2rem;
    margin-bottom: 0px;
    text-align: center;
}
.food-health-nutrion-item-container{
    /* width:100%; */
    /* border: 2px solid red; */
    margin: 4rem auto;
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit,minmax(250px,1fr)); */
    /* grid-gap:2rem; */
}
.food-health-nutrion-item-card{
    box-sizing: border-box;
    max-height: 80%;
    padding:5%;
    border-radius: 1rem;
    background-color: black;
}
.food-health-nutrion-item-img{
    width: 100%;
    height: 30%;
    border-radius: 2rem 2rem 0 0;  
}
.food-health-nutrion-item-heading{
    color:#ffe16b;
    font-size:rem;
    font-weight: 600;
    margin-top: 1rem;
}
.instruction-container{
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    height: fit-content;
    text-align: center;
    margin-top: 1.5rem;
}
.instruction-heading{
    color:#003366;
    font-family:"roboto";
    font-weight: 600;
}
.instruction-content{
   color:#808080 
}
.food-health-nutrion-item-button{
    width:50%;
    height:3rem;
    border-width: 0px;
    font-size: 1.5rem;
    margin-top:1rem;
    margin-bottom:1rem;
    font-weight: bold;
    letter-spacing: 0.125rem;
    cursor: pointer;
    color: black;
    background-color: #ffe16b
}
.food-health-nutrion-item-button:hover{
    background-color: #f3db7d;
}
.food-health-nutrion-item-button:hover{
    background-color: #f3db7d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



