.div-center {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  flex-direction: column;
}
.table-center{
  margin: 0 auto;
}

.table-header {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.submit-button {
  margin-top: 20px;
  width: 20em;
}
.scramble-word{
  color:#14A44D;
  font-weight: 600;
}
.input-styling{
  color:#14A44D;
}