.crossword-container {
    width: 50%;
    display: flex;
    margin: auto;
    padding: inherit;
    text-align: justify;
    padding-top: 1rem;
    /* position: absolute;
    left: 50%;
    top: 65%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    }
    
    